In [0]:
#!pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 2.7MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [0]:
# importing libraries
import re
import pandas as pd
import requests
from urllib.request import urlopen as ureq
from requests import get
from selenium import webdriver as wb
from bs4 import BeautifulSoup as BS
import time
import numpy as np
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from urllib.parse import urlparse
from tqdm import tqdm_notebook as tqdm

In [0]:
#creating dataframe
df = pd.DataFrame(columns=['ID', 'Country'])

In [0]:
r = requests.get('http://www.espncricinfo.com/australia/content/player/index.html?country=2')
soup = BS(r.content,"html5lib")
rows = soup.find("ul", attrs={'id':'ciPlayerhomecntry'}).find_all("li")
for row in rows:
        if row.text!='Other nations':
            c_id = re.search('\d+',str(row.find("a", href=re.compile("^index.html")))).group(0)
            country = row.text.strip()
            df = df.append(pd.Series([str(c_id), country], index=df.columns ), ignore_index=True)
# df

In [0]:
r = requests.get('http://www.espncricinfo.com/australia/content/player/index.html?country=2')
soup = BS(r.content,"html5lib")
rows = soup.find_all("option")
for row in rows:
        if row.text!='Select team' and row.text!='':
            c_id = row['value']
            country = row.text.strip()
            df = df.append(pd.Series([str(c_id), country], index=df.columns ), ignore_index=True)
# df

       ID                   Country
0       2                 Australia
1      25                Bangladesh
2       1                   England
3       6                     India
4       5               New Zealand
5       7                  Pakistan
6       3              South Africa
7       8                 Sri Lanka
8       4               West Indies
9       9                  Zimbabwe
10     40               Afghanistan
11     19                 Hong Kong
12     29                   Ireland
13     20          Papua New Guinea
14     30                  Scotland
15     27      United Arab Emirates
16     21                 Argentina
17    104                   Armenia
18     41                   Austria
19    111                   Bahamas
20    108                   Bahrain
21     42                   Belgium
22    115                    Belize
23     12                   Bermuda
24    112                    Bhutan
25    116                  Botswana
26    117                    Brazil
27    118                    Brunei
28    114                  Bulgaria
29     43                     Burma
..    ...                       ...
75     37                      Oman
76    183                    Panama
77    178                      Peru
78    179               Philippines
79    185                  Portugal
80    187                     Qatar
81    191                    Rwanda
82    192                     Samoa
83    154              Saudi Arabia
84    194                Seychelles
85    196              Sierra Leone
86     23                 Singapore
87    197                  Slovenia
88    195               South Korea
89    200                     Spain
90    201                 St Helena
91    202                  Suriname
92   4253                 Swaziland
93    204                    Sweden
94    205               Switzerland
95    211                  Tanzania
96    207                  Thailand
97    209                    Turkey
98    206  Turks and Caicos Islands
99     34                    Uganda
100    11  United States of America
101   216                   Vanuatu
102   215                   Vietnam
103    24               West Africa
104    48                    Zambia

[105 rows x 2 columns]

In [0]:
df_new = pd.DataFrame(columns=['Tests', 'ODIs', 'T20'])

In [0]:
for i in tqdm(range(0,len(df['ID'])),desc="Progress",total=len(df['ID'])):
    r = requests.get('http://www.espncricinfo.com/australia/content/player/index.html?country='+df['ID'][i])
    soup = BS(r.content,"html5lib") 
    if soup.find("p", attrs={'class':'ciPhotoWidgetLink'}).text=='Recent Players:':
        rows = soup.find("ul", attrs={'id':'bwsPlytab'}).find_all("li")
        for row in rows:
            if row.text=='Tests':
                df_new.loc[i,'Tests'] = 1  
            if row.text=='ODIs':
                df_new.loc[i,'ODIs'] = 1
            if row.text=='T20':
                df_new.loc[i,'T20'] = 1 
    else:
        df_new.loc[i,'Tests'] = 0  
        df_new.loc[i,'ODIs'] = 0
        df_new.loc[i,'T20'] = 0 
#             country = row.text.strip()
#             df = df.append(pd.Series([str(c_id), country], index=df.columns ), ignore_index=True)
# df_new

HBox(children=(IntProgress(value=0, description='Progress', max=105, style=ProgressStyle(description_width='in…

     Tests  ODIs  T20
0      1.0   1.0  1.0
1      1.0   1.0  1.0
2      1.0   1.0  1.0
3      1.0   1.0  1.0
4      1.0   1.0  1.0
5      1.0   1.0  1.0
6      1.0   1.0  1.0
7      1.0   1.0  1.0
8      1.0   1.0  1.0
9      1.0   1.0  1.0
10     1.0   1.0  1.0
11     NaN   1.0  1.0
12     1.0   1.0  1.0
13     NaN   1.0  1.0
14     NaN   1.0  1.0
15     NaN   1.0  1.0
16     0.0   0.0  0.0
17     0.0   0.0  0.0
18     0.0   0.0  0.0
19     0.0   0.0  0.0
20     NaN   NaN  1.0
21     NaN   NaN  1.0
22     NaN   NaN  1.0
23     NaN   1.0  1.0
24     0.0   0.0  0.0
25     NaN   NaN  1.0
26     0.0   0.0  0.0
27     0.0   0.0  0.0
28     0.0   0.0  0.0
29     0.0   0.0  0.0
..     ...   ...  ...
75     NaN   1.0  1.0
76     NaN   NaN  1.0
77     0.0   0.0  0.0
78     NaN   NaN  1.0
79     0.0   0.0  0.0
80     NaN   NaN  1.0
81     0.0   0.0  0.0
82     0.0   0.0  0.0
83     NaN   NaN  1.0
84     0.0   0.0  0.0
85     0.0   0.0  0.0
86     0.0   0.0  0.0
87     0.0   0.0  0.0
88     0.0   0.0  0.0
89     NaN   NaN  1.0
90     0.0   0.0  0.0
91     0.0   0.0  0.0
92     0.0   0.0  0.0
93     0.0   0.0  0.0
94     0.0   0.0  0.0
95     0.0   0.0  0.0
96     0.0   0.0  0.0
97     0.0   0.0  0.0
98     0.0   0.0  0.0
99     NaN   NaN  1.0
100    NaN   1.0  1.0
101    NaN   NaN  1.0
102    0.0   0.0  0.0
103    0.0   0.0  0.0
104    0.0   0.0  0.0

[105 rows x 3 columns]

In [0]:
df['Tests']= df_new['Tests'].fillna(0).astype(int)
df['ODIs']= df_new['ODIs'].fillna(0).astype(int)
df['T20']= df_new['T20'].fillna(0).astype(int)

In [0]:
player_list = pd.DataFrame(columns=['p_id', 'Name', 'Country', 'c_id'])

In [0]:
for i in tqdm(range(0,len(df['ID'])),desc="Progress",total=len(df['ID'])):
    if df['Tests'][i] == 1:
        r = requests.get('http://www.espncricinfo.com/india/content/player/caps.html?country='+df['ID'][i]+';class=1')
        soup = BS(r.content,"html5lib") 
        rows = soup.find_all("a", href=re.compile("^/india/content/player"))
        for row in rows[1:]:
            p_id = re.search('\d+',str(row)).group(0)
            name = row.text.strip()
            player_list = player_list.append(pd.Series([p_id, name, df['Country'][i], df['c_id'][i]],  index=player_list.columns ), ignore_index=True )
            
    if df['ODIs'][i] == 1:
        r = requests.get('http://www.espncricinfo.com/india/content/player/caps.html?country='+df['ID'][i]+';class=2')
        soup = BS(r.content,"html5lib") 
        rows = soup.find_all("a", href=re.compile("^/india/content/player"))
        for row in rows[1:]:
            p_id = re.search('\d+',str(row)).group(0)
            name = row.text.strip()
            player_list = player_list.append(pd.Series([p_id, name, df['Country'][i], df['c_id'][i]],  index=player_list.columns ), ignore_index=True )

    if df['T20'][i] == 1:
        r = requests.get('http://www.espncricinfo.com/india/content/player/caps.html?country='+df['ID'][i]+';class=3')
        soup = BS(r.content,"html5lib") 
        rows = soup.find_all("a", href=re.compile("^/india/content/player"))
        for row in rows[1:]:
            p_id = re.search('\d+',str(row)).group(0)
            name = row.text.strip()
            player_list = player_list.append(pd.Series([p_id, name, df['Country'][i], df['c_id'][i]],  index=player_list.columns ), ignore_index=True )

In [0]:
player_list = player_list.drop_duplicates()
player_list.to_csv('list_of_players.csv',index=False)

In [0]:
player_list = pd.read_csv('list_of_players.csv',header=0,converters={'ID': lambda x: str(x)})

In [0]:
year_columns = []
for i in range(1877,2020):
    year_columns.append(str(i))

In [0]:
data_4s = pd.concat([player_list,pd.DataFrame(columns=year_columns)], axis=1)
data_4s = data_4s.fillna(0)
data_4s['p_id'] = data_4s['p_id'].astype(int)

data_6s = pd.concat([player_list,pd.DataFrame(columns=year_columns)], axis=1)
data_6s = data_6s.fillna(0)
data_6s['p_id'] = data_6s['p_id'].astype(int)

In [0]:
for i in tqdm(range(0,len(data_4s['p_id'])),desc="Progress",total=len(data_4s['p_id'])):
    flag = True
    temp_data = pd.DataFrame(columns=['4s', '6s','Year'])
    r = requests.get('http://stats.espncricinfo.com/ci/engine/player/'+str(int(data_4s['p_id'][i]))+'.html?class=1;template=results;type=batting;view=innings')
    soup = BS(r.content,"html5lib") 
    error = soup.find("h1", attrs={'class':'Error404__Title'})
    if str(error) == 'None':
        # rows = soup.find("table", attrs={'class':'TableLined'}).find("tbody").find_all("tr")
        for caption in soup.find_all('caption'):
            if caption.get_text() == 'Innings by innings list':
                rows = caption.find_parent('table').find("tbody").find_all("tr")
                break
        for row in rows:
            if row.text.strip() == 'No records available to match this query':
                flag = False
                pass
            else:
                for a in range(0,1):
                    fours = row.find("td").find_next('td').find_next('td').find_next('td').text.strip()
                    sixes = row.find("td").find_next('td').find_next('td').find_next('td').find_next('td').text.strip()
                    year = row.find("td").find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').text.strip()
                    year = year[-4:]
                    if fours == '-':
                        fours = int(0)
                    if sixes == '-':
                        sixes = int(0)
                    temp_data = temp_data.append(pd.Series([fours, sixes, year],  index=temp_data.columns ), ignore_index=True )
        if flag:
            temp_data['4s'] = temp_data['4s'].astype(int)
            temp_data['6s'] = temp_data['6s'].astype(int)
            new_temp = temp_data.groupby('Year')['4s','6s'].agg('sum')
            new_temp.reset_index(level=0, inplace=True)
            for j in range(0,len(new_temp['4s'])):
                data_4s.loc[i,'%s' % new_temp['Year'][j]] = new_temp['4s'][j]
                data_6s.loc[i,'%s' % new_temp['Year'][j]] = new_temp['6s'][j]

    flag2 = True
    temp_data2 = pd.DataFrame(columns=['4s', '6s','Year'])
    r2 = requests.get('http://stats.espncricinfo.com/ci/engine/player/'+str(int(data_4s['p_id'][i]))+'.html?class=2;template=results;type=batting;view=innings')
    soup2 = BS(r2.content,"html5lib") 
    error2 = soup2.find("h1", attrs={'class':'Error404__Title'})
    if str(error2) == 'None':
        # rows = soup.find("table", attrs={'class':'TableLined'}).find("tbody").find_all("tr")
        for caption in soup2.find_all('caption'):
            if caption.get_text() == 'Innings by innings list':
                rows2 = caption.find_parent('table').find("tbody").find_all("tr")
                break
        for row in rows2:
            if row.text.strip() == 'No records available to match this query':
                flag2 = False
                pass
            else:
                for a in range(0,1):
                    fours = row.find("td").find_next('td').find_next('td').find_next('td').text.strip()
                    sixes = row.find("td").find_next('td').find_next('td').find_next('td').find_next('td').text.strip()
                    year = row.find("td").find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').text.strip()
                    year = year[-4:]
                    if fours == '-':
                        fours = int(0)
                    if sixes == '-':
                        sixes = int(0)
                    temp_data2 = temp_data2.append(pd.Series([fours, sixes, year],  index=temp_data2.columns ), ignore_index=True )
        if flag2:
            temp_data2['4s'] = temp_data2['4s'].astype(int)
            temp_data2['6s'] = temp_data2['6s'].astype(int)
            new_temp2 = temp_data2.groupby('Year')['4s','6s'].agg('sum')
            new_temp2.reset_index(level=0, inplace=True)
            for j in range(0,len(new_temp2['4s'])):
                data_4s.loc[i,'%s' % new_temp2['Year'][j]] += new_temp2['4s'][j]
                data_6s.loc[i,'%s' % new_temp2['Year'][j]] += new_temp2['6s'][j]

    flag3 = True
    temp_data3 = pd.DataFrame(columns=['4s', '6s','Year'])
    r3 = requests.get('http://stats.espncricinfo.com/ci/engine/player/'+str(int(data_4s['p_id'][i]))+'.html?class=3;template=results;type=batting;view=innings')
    soup3 = BS(r3.content,"html5lib") 
    error3 = soup3.find("h1", attrs={'class':'Error404__Title'})
    if str(error3) == 'None':
        # rows = soup.find("table", attrs={'class':'TableLined'}).find("tbody").find_all("tr")
        for caption in soup3.find_all('caption'):
            if caption.get_text() == 'Innings by innings list':
                rows3 = caption.find_parent('table').find("tbody").find_all("tr")
                break
        for row in rows3:
            if row.text.strip() == 'No records available to match this query':
                flag3 = False
                pass
            else:
                for a in range(0,1):
                    fours = row.find("td").find_next('td').find_next('td').find_next('td').text.strip()
                    sixes = row.find("td").find_next('td').find_next('td').find_next('td').find_next('td').text.strip()
                    year = row.find("td").find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').text.strip()
                    year = year[-4:]
                    if fours == '-':
                        fours = int(0)
                    if sixes == '-':
                        sixes = int(0)
                    temp_data3 = temp_data3.append(pd.Series([fours, sixes, year],  index=temp_data3.columns ), ignore_index=True )
        if flag3:
            temp_data3['4s'] = temp_data3['4s'].astype(int)
            temp_data3['6s'] = temp_data3['6s'].astype(int)
            new_temp3 = temp_data3.groupby('Year')['4s','6s'].agg('sum')
            new_temp3.reset_index(level=0, inplace=True)
            for j in range(0,len(new_temp3['4s'])):
                data_4s.loc[i,'%s' % new_temp3['Year'][j]] += new_temp3['4s'][j]
                data_6s.loc[i,'%s' % new_temp3['Year'][j]] += new_temp3['6s'][j]

In [0]:
#funtion to get the total no. of boundaries scored between 1877 and some Year by a Player
def get_boundaries_per_player(player, year):
    data_6 = pd.DataFrame()
    data_4 = pd.DataFrame()

    data_6 = data_6s.loc[data_6s['Name'] == player].values
    data_4 = data_4s.loc[data_4s['Name'] == player].values

    mapping = dict(zip(range(5,148),range(1877,2020)))
    val = list(mapping.keys())[list(mapping.values()).index(year)]
    tot_4s = np.sum(data_4[:,4:val].astype(int))
    tot_6s = np.sum(data_6[:,4:val].astype(int))
    return tot_4s, tot_6s
#     print("Total boundaries scored by {0} from 1877 to {1}: 4s - {2}, 6s - {3}".format(player, year, tot_4s, tot_6s))

In [0]:
for i in range(len(data_4s['Name'])):
    tot_4, tot_6 = get_boundaries_per_player(data_4s['Name'][i],2019) #please specify name of the player just as it is in the Dataframe/CSV for proper output
    data_4s.loc[i,'Total'] = tot_4
    data_6s.loc[i,'Total'] = tot_6

In [0]:
data_4s['Total'] = data_4s['Total'].astype(int)
data_6s['Total'] = data_6s['Total'].astype(int)

In [0]:
data_4s

,p_id,Name,Country,c_id,1877,1878,1879,1880,1881,1882,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,4091,C Bannerman,Australia,2,19,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19
1,4153,JM Blackham,Australia,2,0,0,0,2,2,9,...,0,0,0,0,0,0,0,0,0,48
2,4625,BB Cooper,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5364,TW Garrett,Australia,2,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,12
4,5432,DW Gregory,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5433,EJ Gregory,Australia,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,5670,JR Hodges,Australia,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,5705,TP Horan,Australia,2,2,0,0,0,10,2,...,0,0,0,0,0,0,0,0,0,27
8,6141,TK Kendall,Australia,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
9,6605,WE Midwinter,Australia,2,1,0,0,0,5,2,...,0,0,0,0,0,0,0,0,0,28
10,7948,NFD Thomson,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,6138,TJD Kelly,Australia,2,8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
12,6669,WL Murdoch,Australia,2,0,0,0,17,6,18,...,0,0,0,0,0,0,0,0,0,138
13,7663,FR Spofforth,Australia,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,9
14,3950,FE Allan,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,4089,AC Bannerman,Australia,2,0,0,7,6,2,21,...,0,0,0,0,0,0,0,0,0,80
16,4183,HF Boyle,Australia,2,0,0,5,5,0,1,...,0,0,0,0,0,0,0,0,0,12
17,3944,G Alexander,Australia,2,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,5
18,4167,GJ Bonnor,Australia,2,0,0,0,3,0,5,...,0,0,0,0,0,0,0,0,0,34
19,5446,TU Groube,Australia,2,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
20,6557,PS McDonnell,Australia,2,0,0,0,11,6,26,...,0,0,0,0,0,0,0,0,0,79
21,6658,WH Moule,Australia,2,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,4
22,7071,GE Palmer,Australia,2,0,0,0,1,3,7,...,0,0,0,0,0,0,0,0,0,13
23,7631,J Slight,Australia,2,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
24,4626,WH Cooper,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,5143,E Evans,Australia,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,3
26,5382,G Giffen,Australia,2,0,0,0,0,1,6,...,0,0,0,0,0,0,0,0,0,67
27,6517,HH Massie,Australia,2,0,0,0,0,0,22,...,0,0,0,0,0,0,0,0,0,35
28,4635,G Coulthard,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,6050,SP Jones,Australia,2,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,25643,RW Staple,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4506,25881,DL Blake,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4507,25625,Nasir Javed,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4508,957645,Aaron Jones,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4509,927119,Ali Khan,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4510,1139028,K Gore,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4511,772471,Jasdeep Singh,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4512,430105,JS Malhotra,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,7
4513,52626,XM Marshall,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,172
4514,398513,SN Netravalkar,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4515,1159641,MD Patel,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,6
4516,32257,TK Patel,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,7
4517,348133,SR Taylor,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,13,13
4518,443263,HR Walsh,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,6
4519,552881,EH Hutchinson,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3
4520,50671,KRP Silva,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
4521,524269,CC Blake,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4522,420508,JW Chilia,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4523,302856,J Dunn,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4524,1082733,G Kaltongga,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4525,275654,A Mansale,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,5
4526,1082734,W Nalisa,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4527,420513,N Nipiko,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9,9
4528,302866,SH Obed,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4529,524270,J Rasu,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
4530,524271,R Tari,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
4531,1013221,J Vira,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4532,1118837,ZK Shem,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4533,647711,C Tommy,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4534,1082732,W Viraliliu,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
data_6s

,p_id,Name,Country,c_id,1877,1878,1879,1880,1881,1882,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,4091,C Bannerman,Australia,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,4153,JM Blackham,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4625,BB Cooper,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5364,TW Garrett,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5432,DW Gregory,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5433,EJ Gregory,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,5670,JR Hodges,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,5705,TP Horan,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,6141,TK Kendall,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,6605,WE Midwinter,Australia,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,2
10,7948,NFD Thomson,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,6138,TJD Kelly,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,6669,WL Murdoch,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,7663,FR Spofforth,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,3950,FE Allan,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,4089,AC Bannerman,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,4183,HF Boyle,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,3944,G Alexander,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,4167,GJ Bonnor,Australia,2,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,10
19,5446,TU Groube,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,6557,PS McDonnell,Australia,2,0,0,0,0,1,2,...,0,0,0,0,0,0,0,0,0,4
21,6658,WH Moule,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,7071,GE Palmer,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,7631,J Slight,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,4626,WH Cooper,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,5143,E Evans,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,5382,G Giffen,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
27,6517,HH Massie,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,4635,G Coulthard,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,6050,SP Jones,Australia,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,25643,RW Staple,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4506,25881,DL Blake,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4507,25625,Nasir Javed,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4508,957645,Aaron Jones,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4509,927119,Ali Khan,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4510,1139028,K Gore,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4511,772471,Jasdeep Singh,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4512,430105,JS Malhotra,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4513,52626,XM Marshall,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,40
4514,398513,SN Netravalkar,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4515,1159641,MD Patel,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4516,32257,TK Patel,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4517,348133,SR Taylor,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,4
4518,443263,HR Walsh,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4519,552881,EH Hutchinson,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4520,50671,KRP Silva,United States of America,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3
4521,524269,CC Blake,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4522,420508,JW Chilia,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4523,302856,J Dunn,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4524,1082733,G Kaltongga,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4525,275654,A Mansale,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4526,1082734,W Nalisa,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4527,420513,N Nipiko,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3
4528,302866,SH Obed,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4529,524270,J Rasu,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4530,524271,R Tari,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
4531,1013221,J Vira,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4532,1118837,ZK Shem,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4533,647711,C Tommy,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4534,1082732,W Viraliliu,Vanuatu,216,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
fours_by_country = data_4s.groupby('Country')[year_columns].agg('sum')
fours_by_country = fours_by_country.reset_index(level=0)
fours_by_country['Total'] = 0

sixes_by_country = data_6s.groupby('Country')[year_columns].agg('sum')
sixes_by_country = sixes_by_country.reset_index(level=0)
sixes_by_country['Total'] = 0

In [0]:
#funtion to get the total no. of boundaries scored in a year by all players
def get_boundaries_per_year(year):
    data_6 = pd.DataFrame()
    data_4 = pd.DataFrame()

    data_6 = data_6s[''+str(year)].values
    data_4 = data_4s[''+str(year)].values


    tot_4s = np.sum(data_4.astype(int))
    tot_6s = np.sum(data_6.astype(int))

    print("Total boundaries scored in {0}: 4s - {1}, 6s - {2}".format(year, tot_4s, tot_6s))

In [0]:
get_boundaries_per_year(1877)

Total boundaries scored in 1877: 4s - 64, 6s - 2

In [0]:
for i in range(0,len(fours_by_country['1877'])):
    fours_by_country['Total'][i] = fours_by_country.iloc[i,1:].astype(int).sum()
    sixes_by_country['Total'][i] = sixes_by_country.iloc[i,1:].astype(int).sum()

In [0]:
sixes_by_country

,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,13,47,65,85,147,146,132,148,100,960
Australia,1,0,0,0,1,7,5,0,7,0,...,151,214,238,223,171,248,148,191,79,4596
Bahrain,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,30,30
Bangladesh,0,0,0,0,0,0,0,0,0,0,...,48,81,83,123,100,106,101,183,51,1473
Belgium,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,15,15
Belize,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,23,23
Bermuda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,116
Botswana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,5
Canada,0,0,0,0,0,0,0,0,0,0,...,28,15,11,3,0,0,0,0,0,242
Costa Rica,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,7
East and Central Africa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
England,1,0,0,0,1,5,0,0,3,0,...,106,137,141,187,205,216,177,258,112,3896
Germany,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,12,12
Ghana,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,5
Guernsey,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hong Kong,0,0,0,0,0,0,0,0,0,0,...,0,0,0,26,50,68,28,22,0,195
India,0,0,0,0,0,0,0,0,0,0,...,175,104,159,192,139,210,296,265,101,4360
Ireland,0,0,0,0,0,0,0,0,0,0,...,61,60,47,54,102,53,117,106,103,916
Italy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,6
Jersey,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
Kenya,0,0,0,0,0,0,0,0,0,0,...,15,12,48,4,0,0,0,0,17,400
Kuwait,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,23,23
Maldives,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,10
Malta,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
Mexico,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,12,12
Namibia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,15,23
Nepal,0,0,0,0,0,0,0,0,0,0,...,0,0,0,5,8,0,0,8,15,36
Netherlands,0,0,0,0,0,0,0,0,0,0,...,32,35,32,44,35,8,7,15,14,369
New Zealand,0,0,0,0,0,0,0,0,0,0,...,110,193,182,209,246,207,171,179,132,4080
Nigeria,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,14,14
Oman,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,10,19,14,0,14,57
Pakistan,0,0,0,0,0,0,0,0,0,0,...,128,99,211,162,211,149,137,202,92,4145
Panama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,13,13
Papua New Guinea,0,0,0,0,0,0,0,0,0,0,...,0,0,0,4,11,25,21,17,32,136
Philippines,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
Qatar,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,32,32
Saudi Arabia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,35,35
Scotland,0,0,0,0,0,0,0,0,0,0,...,14,17,34,22,35,48,38,65,23,408
South Africa,0,0,0,0,0,0,0,0,0,0,...,66,127,142,134,216,166,175,138,77,3271
Spain,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,14,14
Sri Lanka,0,0,0,0,0,0,0,0,0,0,...,88,131,127,179,149,146,184,163,88,2799
Uganda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,21,21
United Arab Emirates,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23,35,82,38,51,42,283
United States of America,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,36
Vanuatu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,7
West Indies,0,0,0,0,0,0,0,0,0,0,...,228,268,188,218,201,189,199,286,131,4811
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,82,26,84,84,148,114,46,156,18,1695

In [0]:
data_4s.to_csv('all_4s.csv',index=False)
data_6s.to_csv('all_6s.csv',index=False)

In [0]:
fours_by_country.to_csv('fours_by_country.csv',index=False)
sixes_by_country.to_csv('sixes_by_country.csv',index=False)